<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <app-label text="Current Password" for="password" ></app-label>
    <app-input-text id="Cpassword" formControlName="password" type="password" placeholder="******" />

    <app-label text="New Password" for="newPassword"></app-label>
    <app-input-text id="Npassword1" formControlName="newPassword" type="password" placeholder="******" />

    <app-label text="Confirm New Password" for="confirmPassword"></app-label>
    <app-input-text id="Npassword2" formControlName="confirmPassword" type="password" placeholder="******" />
    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
    
      <!-- Error message -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    <app-button type="submit" [disabled]="form.invalid || isLoading">update password</app-button>
  
</form>