<nav class="navbar">

    <div class="navbar__left">
      <!-- Dashboard button on the left -->
     
      <div *ngIf="isLoggedIn$ | async">
        <app-button [variant]="getButtonVariant('/dashboard')">
          <a routerLink="/dashboard">Dashboard</a>
        </app-button>
      </div>
    </div>
  
    <div class="navbar__right">
      <!-- Settings and login/logout buttons on the right -->
      <div>
        <app-button [variant]="getButtonVariant('/')">
          <a routerLink="/">Settings</a>
        </app-button>
      </div>
      
      <div *ngIf="!(isLoggedIn$ | async)">
        <app-button label="Login" [variant]="getButtonVariant('/login')">
          <a routerLink="/login"></a>
        </app-button>
      </div>
      
      <div *ngIf="isLoggedIn$ | async">
        <app-button label="Logout" (click)="logout()" [variant]="getButtonVariant('/login')"></app-button>
      </div>
    </div>
  </nav>


  <!--  TODO: ADD LOGO HERE -->