<nav class="navbar">
    <div class="navbar__logo">
      <a routerLink="/">Logo</a>
    </div>
    <ul class="navbar__links">
      <li><a routerLink="/">Home</a></li>
  
      <!-- Show Dashboard only if the user is logged in -->
      <li *ngIf="isLoggedIn$ | async"><a routerLink="/dashboard">Dashboard</a></li>
  
      <!-- Show Login button only if the user is not logged in -->
      <li *ngIf="!(isLoggedIn$ | async)">
        <app-button label="Login">
          <a routerLink="/login">Login</a>
        </app-button>
      </li>
  
      <!-- Show Logout button if the user is logged in -->
      <li *ngIf="isLoggedIn$ | async">
        <app-button label="Logout" (click)="logout()"></app-button>
      </li>
    </ul>
  </nav>